/** app/globals.css */

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Roboto Flex", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  
  --color-button: var(--color-gray-700);
  --color-button-hover: var(--color-gray-950);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", "Roboto Flex", "Helvetica", Arial, sans-serif;
  font-optical-sizing: auto;
}

.input-text,
.input-button {
  @apply disabled:bg-white/50 disabled:text-gray-500/50;
}

.input-button-primary {
  @apply bg-button hover:bg-button-hover
    text-sm text-white font-semibold
    rounded-full border border-gray-300
    cursor-pointer shadow-xs hover:shadow-md
    transition-all duration-300
    disabled:bg-white/50 disabled:text-gray-500/50;
}
.input-button-secondary {
  @apply bg-white hover:bg-gray-50
    text-xs text-stone-500
    font-semibold hover:text-stone-700
    border-r border-r-stone-200
    last:border-r-0
    cursor-pointer shadow-xs hover:shadow-md
    transition-all duration-300
    disabled:bg-white/50 disabled:text-gray-500/50 disabled:shadow-none disabled:cursor-default;
}

.table-ul {
  @apply list-disc list-outside pl-4.5;
}
.table-ul-li {
  @apply text-clip;
}
.table-icon-td {
  @apply flex items-center gap-1;
}
.table-icon-td svg {
  @apply text-teal-700;
}

.disabled {
  @apply bg-white/50 text-gray-500/50;
}
